
body
{
  margin: 0;
  text-align: center;
  font-family:sans-serif;
  color: #40514E;
}

h1
{
  line-height: 2;
  color: #66BFBF;
  font-size: 70px;
  margin: 0;
}

h2
{
  color: #66BFBF;
}

h3
{
  color: #11999E;

}

p
{
  line-height: 2;
  color: black;
}





hr{
 border: dotted #EAF6F6 6px;
 border-bottom: none;

}


.top-container
{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
 text-align: left;

}

.Skill-img
{
   width: 35%;
   float: left;
   margin-right: 30px;
}


.btn {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.prawns-img
{
  width: 35%;
  float: right;
  margin-right: 30px;
}

.middle-container
{
 margin: 100px,0;

}

.bottom-container
{
  background-color: #66BFBF;

}



.pro
{
  text-decoration: underline;

}


.Intro
{
   width: 30%;
   margin: auto;
}
